<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <meta firstName="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>All Users</title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

      <span class="navbar-text">
        <b th:text="${user.getEmail()}">VALUE</b> with roles: <i th:text="${user.roleToString()}">VALUE</i>
      </span>
        </ul>
        <form class="form-inline my-2 my-lg-0" th:action="@{/logout}" method="post">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Logout</button>

        </form>


    </div>
</nav>





<div class="container-fluid">
    <div class="row justify-content-start">
        <div class="col-2 ">
            <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/admin">Admin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user">User</a>
                </li>
            </ul>

        </div>
        <div class="col-6">
            <h1 class="text">Admin Panel</h1>
        </div>

    </div>
    <div class="row justify-content-end">
        <div class="col-10 ">


            <ul class="nav nav-tabs bg-light container-fluid m-2" id="myTab" role="tablist">
                <li class="nav-item" >
                    <a class="nav-link active" id="allUserPage" aria-current="page" href="/admin">All users</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"  href="/admin/new">New user</a>

                </li>
            </ul>


            <div class="p-3 mb-2 bg-light text-dark"><h4>About user</h4></div>
            <div class="myTable">
            <table class="table table-striped">


                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">First name</th>
                    <th scope="col">Last name</th>
                    <th scope="col">Age</th>
                    <th scope="col">Email</th>
                    <th scope="col">Role</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>
                </tr>
                </thead>
                <tbody class="myTbody" id="myTbody">


















                </tbody>

            </table>
            </div>
        </div>
    </div>


        <div class="modal fade"
             id="editModal"
             tabindex="-1"
             role="dialog"
             aria-labelledby="exampleModalCenterTitle"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">

                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Edit user</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row justify-content-center">
                            <div class="col-6">
                                <div class="mb-3" style="text-align: center;">
                                    <label for="ID" class="form-label"><b>ID</b></label>
                                    <input type="text" readonly class="form-control"

                                           id="ID" name="ID">
                                </div>

                                <div class="mb-3" style="text-align: center;">
                                    <label for="firstName" class="form-label"><b>First name</b>
                                    </label>
                                    <input type="text" class="form-control"

                                           id="firstName" name="firstName"/>
                                </div>


                                <div class="mb-3" style="text-align: center;">
                                    <label for="secondName" class="form-label"><b>Last
                                        name</b></label>
                                    <input type="text" class="form-control"

                                           id="secondName" name="secondName">
                                </div>

                                <div class="mb-3" style="text-align: center;">
                                    <label for="Age" class="form-label"><b>Age</b></label>
                                    <input type="text" class="form-control"

                                           id="Age" name="Age">

                                </div>

                                <div class="mb-3" style="text-align: center;">
                                    <label for="Email" class="form-label"><b>Email</b></label>
                                    <input type="text" class="form-control"

                                           id="Email" name="Email">
                                </div>

                                <div class="mb-3" style="text-align: center;">
                                    <label for="password" class="form-label"><b>Password</b>
                                    </label>
                                    <input type="text" class="form-control"

                                           id="password" name="password">
                                    <br/>
                                </div>

                                <div class="custom-select" style="text-align: center;" multiple>
                                    <label for="Role" class="form-label">Role</label>
                                    <select id="Role" class="form-control" name="newroles" multiple aria-label="multiple select example" >

                                    </select>
                                </div>
                            </div>
                        </div>


                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" id="editClose" data-dismiss="modal">Close
                        </button>
                        <button type="submit" class="btn btn-primary" id="submitEdit">Edit</button>
                    </div>
                </div>

            </div>
        </div>



        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog"
             aria-labelledby="ModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">

                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="ModalLongTitle">Edit user</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row justify-content-center">
                            <div class="col-6">
                                <div class="mb-3" style="text-align: center;">
                                    <label for="IDdelete" class="form-label"><b>ID</b></label>
                                    <input type="text" readonly class="form-control"

                                           id="IDdelete" name="ID">
                                </div>

                                <div class="mb-3" style="text-align: center;">
                                    <label for="firstNameDelete" class="form-label"><b>First name</b>
                                    </label>
                                    <input type="text" readonly class="form-control"

                                           id="firstNameDelete" name="firstName"/>
                                </div>


                                <div class="mb-3" style="text-align: center;">
                                    <label for="secondNameDelete" class="form-label"><b>Last
                                        name</b></label>
                                    <input type="text" readonly class="form-control"

                                           id="secondNameDelete" name="secondName">
                                </div>

                                <div class="mb-3" style="text-align: center;">
                                    <label for="AgeDelete" class="form-label"><b>Age</b></label>
                                    <input type="text" readonly class="form-control"

                                           id="AgeDelete" name="Age">

                                </div>

                                <div class="mb-3" style="text-align: center;">
                                    <label for="EmailDelete" class="form-label"><b>Email</b></label>
                                    <input type="text" readonly class="form-control"

                                           id="EmailDelete" name="Email">
                                </div>

                                <div class="mb-3" style="text-align: center;">
                                    <label for="passwordDelete" class="form-label"><b>Password</b>
                                    </label>
                                    <input type="text" readonly class="form-control"

                                           id="passwordDelete" name="password">
                                    <br/>
                                </div>

                                <div class="custom-select" style="text-align: center;" multiple>
                                    <label for="RoleDelete" class="form-label">Role</label>
                                    <select id="RoleDelete" aria-readonly="true" class="form-control" name="newroles">

                                    </select>
                                </div>
                            </div>
                        </div>


                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" id="closeDeleteModal" data-dismiss="modal">Close
                        </button>
                        <button type="submit" class="btn btn-danger" id="submitDelete">Delete</button>
                    </div>
                </div>

            </div>
        </div>

</div>
</div>
</div>




</div>



<br/>
<hr/>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script type="text/javascript" src="/admin.js"></script>
</body>
</html>