<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <meta firstName="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>New user</title>
</head>
<body>


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

      <span class="navbar-text">
        <b th:text="${user.getFirstName()}">VALUE</b> with roles: <i th:text="${user.getRoles().toString()}">VALUE</i>
      </span>
        </ul>
        <form class="form-inline my-2 my-lg-0" th:action="@{/logout}" method="post">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Logout</button>

        </form>


    </div>
</nav>


<div class="container-fluid">
    <div class="row justify-content-start">
        <div class="col-2 ">
            <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/admin">Admin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user">User</a>
                </li>
            </ul>

        </div>
        <div class="col-6">
            <h1 class="text">Admin Panel</h1>
        </div>

    </div>
    <div class="row justify-content-end">
        <div class="col-10 ">


            <ul class="nav nav-tabs">
                <li class="nav-item" >
                    <a class="nav-link" id="allUserPage" href="/admin">All users</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/admin/new">New user</a>

                </li>

            </ul>


            <div class="p-3 mb-2 bg-light text-dark"><h4>Add new user</h4></div>

            <div class="row justify-content-center">
                <div class="col-3">


                        <div class="mb-3" style="text-align: center;">
                            <label for="newfirstName" class="form-label"><b>First name</b></label>
                            <input type="text" class="form-control"  id="newfirstName"
                                   name="newfirstName">
                        </div>

                        <div class="mb-3" style="text-align: center;">
                            <label for="newsecondName" class="form-label"><b>Last name</b></label>
                            <input type="text" class="form-control"  id="newsecondName"
                                   name="newsecondName">
                        </div>

                        <div class="mb-3" style="text-align: center;">
                            <label for="newAge" class="form-label"><b>Age</b></label>
                            <input type="text" class="form-control"  id="newAge"
                                   name="newAge">
                        </div>

                        <div class="mb-3" style="text-align: center;">
                            <label for="newEmail" class="form-label"><b>Email</b></label>
                            <input type="text" class="form-control"  id="newEmail"
                                   name="newEmail">
                        </div>

                        <div class="mb-3" style="text-align: center;">
                            <label for="newpassword" class="form-label"><b>Password</b></label>
                            <input type="password" class="form-control" id="newpassword"
                                   name="newpassword">
                        </div>


                    <div class="custom-select" style="text-align: center;" multiple>
                        <label for="forNewUserRole" class="form-label">Role</label>
                        <select id="forNewUserRole" class="form-control" name="newroles">

                        </select>
                    </div>

                        <div class="mb-3" style="text-align: center;" >
                            <br/>
                            <button type="submit" class="btn btn-success btn-lg" id="createButton">Add new user</button>
                        </div>

                </div>
            </div>
        </div>
    </div>
</div>



<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

<script type="text/javascript" src="/forNew.js"></script>
</body>
</html>